body {
    background-color: #724331;
  }

h1 {
    text-align: center;
    color: bisque;
    font-family: 'IsaacFont1';
    font-size: 3em;
}

.center {
    display: inline-bloc;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
}

#images{
    text-align:center;
}

@font-face {
    font-family: 'IsaacFont1';
    src: url('./Ressources/Font_soulsV2_Title-Regular.ttf');
}

#buttons{
    text-align:center;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: bisque;
    font-family: 'IsaacFont1';
    border-radius: 8px;
  }